asyncmy==0.2.7
cron-descriptor==1.4.0
dagit==1.2.7
dbt-postgres==1.6.0b2
diagrams==0.23.3
dlt==0.3.17
duckdb==0.8.1
h2==4.1.0
httptools==0.5.0
meilisync==0.1.1
motor==3.1.1
msgpack==1.0.5
pipdeptree==2.9.6
pipx==1.2.0
prefect==2.10.3
prism-ds==0.2.5
psycopg2==2.9.5
redis==4.5.1
requests-toolbelt==0.10.1
sentry-sdk==1.16.0
shellingham==1.5.0.post1
watchfiles==0.19.0